@import 'src/style/themes/ucsf/colors';

.searchLabel {
  &.variants {
    background-color: $purple-2;
  }

  &.genes {
    background-color: $geekblue-2;
  }
}

.variantSearchLocus {
  font-weight: 500;
}
